.answers-container {
  width: 100%;
  margin-bottom: auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.answer {
  font-size: 20px;
  line-height: 30px;
  background-color: transparent;
  border: 3px solid var(--light-color);
  border-radius: 32px;
  height: 100px;
  white-space: normal;
  padding: 0px 28px;

  cursor: pointer;
  transition: var(--button-transition);

  &:hover {
    box-shadow: var(--hover-neon-box-shadow);
    text-shadow: var(--hover-neon-text-shadow);
  }

  &-selected {
    font-size: 22px;
    line-height: 30px;
    color: white;

    box-shadow: var(--active-neon-box-shadow) !important;
    text-shadow: var(--active-neon-text-shadow) !important;
  }

  &-correct {
    color: var(--success-color);
    border: 3px solid var(--success-color);
  }

  &-wrong {
    color: var(--danger-color);
    border: 3px solid var(--danger-color);
  }
}

.answer-selected.answer-correct {
  box-shadow: var(--active-neon-success-box-shadow) !important;
  text-shadow: var(--active-neon-success-text-shadow) !important;
}

.answer-selected.answer-wrong {
  box-shadow: var(--active-neon-danger-box-shadow) !important;
  text-shadow: var(--active-neon-danger-text-shadow) !important;
}

@media (hover: none) {
  input {
    cursor: default !important;

    &:hover {
      box-shadow: unset;
      text-shadow: unset;
    }
  }
}
