#quiz {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.page-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  height: auto;

  transition: all 400ms ease-in-out;
}

.question-before {
  opacity: 0 !important;
  pointer-events: none !important;
  left: -50% !important;
  right: 50% !important;
}

.question-after {
  opacity: 0 !important;
  pointer-events: none !important;
  left: 50% !important;
  right: -50% !important;
}

.next-button {
  transition: opacity 200ms linear;

  opacity: 1;
  &-hidden {
    opacity: 0 !important;
    pointer-events: none !important;
  }
}
