<section id="quiz">
  @if(questions()[currentQuestion()]; as question){
  <h1>{{ question.question | translate }}</h1>

  @for(answer of question.answers; track $index){
  <div
    [ngClass]="{ 'selected-answer': selectedAnswerKey() === answer.key }"
    (click)="quizService.selectAnswer(currentQuestion(), answer.key)"
  >
    {{ answer.value | translate }}
  </div>
  } @if(selectedAnswerKey()){
  <div>
    @if(currentQuestion() === questions().length - 1){
    <app-button [text]="'quiz.seeResults'" [routerLink]="'/results'" />
    } @else {
    <app-button [text]="'quiz.nextQuestion'" (onClick)="nextClick()" />
    }
  </div>
  } }
</section>
