<section id="quiz">
  @if (questions()[currentQuestion()]; as question) {
    <h1>{{ question.question | translate }}</h1>

    @for (answer of question.answers; track $index) {
      <input
        type="button"
        [ngClass]="{ 'selected-answer': selectedAnswerKey() === answer.key }"
        (click)="quizService.selectAnswer(currentQuestion(), answer.key)"
        [value]="answer.value | translate"
      />
    }

    @if (selectedAnswerKey()) {
      <div>
        @if (currentQuestion() === questions().length - 1) {
          <app-button [text]="'quiz.seeResults'" [routerLink]="'/results'" />
        } @else {
          <app-button [text]="'quiz.nextQuestion'" (clicked)="nextClick()" />
        }
      </div>
    }
  }
</section>
