:root {
  --light-color: hsl(0, 0%, 95%);

  --primary-color: #f29f58;

  --secondary-color: #ab4459;

  --tertiary-color: #441752;
  --tertiary-neon-color: hsl(286, 56%, 61%);

  --quaternary-color: #1b1833;
}
