:root {
  --light-color: hsl(0, 0%, 95%);
  --success-color: hsl(140, 100%, 80%);
  --danger-color: hsl(347, 100%, 80%);

  --primary-color: #f29f58;

  --secondary-color: #ab4459;

  --tertiary-color: #441752;
  --tertiary-neon-color: hsl(286, 56%, 61%);

  --quaternary-color: #1b1833;

  --button-transition: all 0.3s ease-in-out;

  --hover-neon-box-shadow:
    0 0 4px white, 0 0 12px var(--tertiary-neon-color),
    inset 0 0 8px var(--tertiary-neon-color);
  --hover-neon-text-shadow: 0 0 16px var(--tertiary-neon-color);

  --active-neon-box-shadow:
    0 0 4px white, 0 0 24px var(--tertiary-neon-color),
    0 0 12px var(--tertiary-neon-color), 0 0 32px var(--tertiary-neon-color),
    inset 0 0 16px var(--tertiary-neon-color);
  --active-neon-text-shadow:
    0 0 16px var(--tertiary-neon-color), 0 0 24px var(--tertiary-neon-color),
    0 0 32px var(--tertiary-neon-color);

  --active-neon-danger-box-shadow:
    0 0 4px white, 0 0 24px var(--danger-color), 0 0 12px var(--danger-color),
    0 0 32px var(--danger-color), inset 0 0 16px var(--danger-color);
  --active-neon-danger-text-shadow:
    0 0 1px #fff, 0 0 20px var(--danger-color), 0 0 32px var(--danger-color);

  --active-neon-success-box-shadow:
    0 0 4px white, 0 0 24px var(--success-color), 0 0 12px var(--success-color),
    0 0 32px var(--success-color), inset 0 0 16px var(--success-color);
  --active-neon-success-text-shadow:
    0 0 1px #fff, 0 0 20px var(--success-color), 0 0 32px var(--success-color);
}
