<div class="quiz-container">
  @for (question of questions(); track $index; let questionIndex = $index) {
    <div
      class="page-container"
      [ngClass]="{
        'question-before': currentQuestion() > $index,
        'question-after': currentQuestion() < $index,
      }"
    >
      <h1>{{ question.translationKey | translate }}</h1>

      <div class="answers-container">
        @for (answer of question.answers; track $index) {
          <input
            type="button"
            class="answer"
            [ngClass]="{
              'answer-selected': question.selectedAnswerKey === answer.key,
              'pointer-events-none': isReadonly(),
              'answer-correct':
                isReadonly() && question.correctAnswerKey === answer.key,
              'answer-wrong':
                isReadonly() && question.correctAnswerKey !== answer.key,
            }"
            (click)="quizService.selectAnswer(currentQuestion(), answer.key)"
            [value]="answer.translationKey | translate"
          />
        }
      </div>

      <div
        class="buttons-container"
        [ngClass]="{ 'buttons-container-hidden': !question.selectedAnswerKey }"
      >
        @if (showPreviousButton() && questionIndex !== 0) {
          <app-button
            [text]="'quiz.previousQuestion'"
            [routerLink]="previousRoute()"
          />
        }

        @if (questionIndex !== questions().length - 1) {
          <app-button [text]="'quiz.nextQuestion'" [routerLink]="nextRoute()" />
        }

        @if (questionIndex === questions().length - 1 && finishButton()) {
          <ng-container *ngTemplateOutlet="finishButton()!"></ng-container>
        }
      </div>
    </div>
  }
</div>
