header {
  height: 2em;
  background-color: grey;
  padding: 1em;

  display: flex;
  justify-items: center;
  justify-content: space-between;
}

#languages-container {
  display: flex;
  justify-items: center;
  gap: 0.5em;
}
