<div class="container">
  <header role="banner">
    <a [routerLink]="'/'">
      <div>HOME</div>
    </a>
    <div id="languages-container">
      @for (language of languages; track $index) {
        <input
          type="button"
          (click)="languageService.setLanguage(language.langKey)"
          [value]="language.value | translate"
        />
      }
    </div>
  </header>
  <main [@routeAnimations]="getRouteState(routerOutlet)">
    <router-outlet #routerOutlet="outlet" />
  </main>
</div>
