.progress-bar {
  position: fixed;
  top: 70px;
  height: 8px;
  background-color: var(--tertiary-neon-color);
  transition: width 200ms ease-in-out;
  box-shadow: var(--active-neon-box-shadow) !important;
}
